/target/
/.tools/
/.idea/
/*.iml
/libs/
/.planning/.idea/
/.planning/config.json
/.smoke/*-bootstrap/
/.smoke/*-live/
/src/main/resources/menus/服务器正式菜单/
/src/main/resources/menus/点券商店.yml
/src/main/resources/menus/点券商店-2.yml
/src/main/resources/menus/权限.yml
/src/main/resources/menus/称号-首页.yml
/src/main/resources/menus/称号-怪物页.yml
/src/main/resources/menus/称号-成就页.yml
/src/main/resources/menus/聊天颜色商店.yml
/src/main/resources/menus/聊天颜色切换.yml
